<h2>ユーザー一覧</h2>

<table>
  <thead>
    <tr>
      <th>アイコン</th>
      <th>ユーザーネーム</th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td>
          <%= attachment_image_tag user, :profile_image, fallback: "no_image.png", size: "50x50", class: "round-image" %>
        </td>
        <td>
          <%= user.username %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

