<div class="home-index">
 <h1>Potepan Shareで<br> 
 まだ体験したことのない<br> 
 旅をしよう</h1>
 <%= form_tag({controller:"rooms",action:"index"}, method: :get) do %>
    <%= text_field_tag :address %>
    <%= submit_tag '検索' %>
 <% end %>
</div>

