/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bulma";

 * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }  

header {
    height: 80px;
    width: 100%;
    color: white;
    background-color: navy;
    display: flex;
    align-items: center;
}

.header-logo {
    height: 40px;
    margin-left: 30px;
    margin-right: 900px;
}

.header-item {
    display: inline-block;
}

.login-button {
    color: white;
    margin: 0 20px;
    text-decoration: none;
}

.new-button {
    color: white;
    padding: 12px;
    background-color: orange;
    border-radius: 6px;
    text-decoration: none;
}

.round-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
#user-menu {
    display: flex;
}

#menu {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
}  

.main {
    height: 1800px;
}

footer {
    height: 470px;
    background-color: navy;
    color: white;
}

.footer-logo {
    height: 40px;
    margin-top: 200px;
    margin-left: 30px;
}

footer p {
    margin-left: 30px;
}
  