// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.fields {
    background-color: white;
    text-align: center;
    width: 700px;
}

.field {
    display: inline-block;
    margin: 10px;
}